*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card-section{
width: 30%;
height: 200px;
margin: auto;
text-align: center;
margin-top: 5%;
}
.span1{
    font-size: 20px;
    color: gray;
    font-weight: bold;
}
.span2{
    font-size: 50px;
    color: black;
    font-weight: bold;
}
.span3{
    font-size: 20px;
    color: gray;
}
.card-section1{
    width: 70%;
    height: 500px;
    display: flex;
    gap: 2%;
    margin-left: 25%;
}

.button1{
    background-color: black;
    color: beige;
    width: 65px;
    height: 40px;
}
.button2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 65px;
    height: 40px; 
}
.img:hover{
    border: 1px solid red;

}
